<div class="page">
  <div class="slidenum">
    Slide <%#= slide_number %>
  </div>
	<%# slide_number = slide_number + 1 %>
  <div class="slide">
    <%= image_tag slidewithnote.image.url, :style => "width:100%;"%>
  </div>
  <div class="notes">
    <%= @ether.client.getHTML("notegroup"+notegroup.id.to_s+"note"+slidewithnote.id.to_s)[:html].html_safe %>
  </div>
</div>
