<page>
<div class="page">
  <div class="slide" >
    <%= image_tag slidewithnote.image.url, :style => "width:100%;"%>
  </div>
  <div class="slide" >
    <%#<%= image_tag slidewithnote.image.url, :style => "width:100%;"%>%>
  </div>
</div>

<div class="page-break"></div>
</page>
