<page>
<div class="page">
  <div class="slide">
    <%= image_tag slidewithnote.image.url, :style => "width:100%;"%>
  </div>
  <div class="notes">
  <p>
      Hardware: Hands-On<br><br>oh hiii Rach!<br>oh hi there!hiiya!<br>I&#x27;m <s>Bob Bobberson</s><br>lolol<br><br>whoaaaa this is nifty! good job :D<br>bahaha awesome<br>woooo it&#x27;s so fast! it feels even faster than google docs!<br><br>this is the NEW WAY TO TAKE NOTESSSSSS<br>MWAHAHAHA<br>^_^<br><br>I like this color!!!! YAYYYYY<br><br><br>

  <%= @ether.client.getHTML("notegroup"+notegroup.id.to_s+"note"+slidewithnote.id.to_s)[:html].html_safe %>
  </p>
  </div>
</div>

<div class="page-break"></div>
</page>
