<div class="page">
  <div class="slidenum">
    Slide <%= @slide_number.to_s %>
  </div>
	<% @slide_number += 1 %>
  <div class="slide">
    <%= image_tag slidewithnote.image.url, :style => "width:100%;"%>
  </div>
  <div class="notes">
  <% padhtml = @ether.client.getHTML("notegroup"+notegroup.id.to_s+"note"+slidewithnote.id.to_s) if @ether.client.getHTML("notegroup"+notegroup.id.to_s+"note"+slidewithnote.id.to_s)%>
  <%= padhtml[:html].html_safe %>
  </div>
</div>
