<div class="narrowcontentleft">
  <h3>Friends in <%= @notegroup.presentation.deckoriginal_file_name %></h3>
  
  </br>
  <%@notegroup.users.collect{|user| user.login}.each do |a| %>
    <%= a%></br>
  <%end%>
  <%= render 'form' %>
  
  <%= link_to 'Back to Notetaking', @notegroup %>
  
</div>
