<div class="narrowcontentleft">
  <%= button_to "Return to Notetaking", @notegroup, :method => "get", :class => "roundedcornersbutton orangebutton"%>
  </br> 

  <h3>Friends in <%= @notegroup.presentation.deckoriginal_file_name %></h3>

        <div class="subsection">
          <% @notegroup.everyonebutme.each do |user|%>
            <li><%= user.login %></li>
          <% end %>
        </div>

          <%= render 'form' %>

  
</div>

<div class="narrowcontentright roundedcornersbox">
Don't see a friend? They probably haven't signed into Slidee yet. As soon as they do, a Slidee-user will be created instantly and they'll show up here after you refresh.
</div>
