<h1>Editing notegroup</h1>

Users In This Notegroup</br>
<%= @notegroup.users.collect{|user| user.login}%>
<%= render 'form' %>

<%= link_to 'Show', @notegroup %> |
<%= link_to 'Back', notegroups_path %>
