  <body onload='number_pages'>
    <div class="page">
      <h1>Class notes - <%= @notegroup.presentation.deckoriginal_file_name %></h1>
    <h1>Downloaded <% time = Time.new %>
    <%= time.strftime("%B %d, %Y") %></h1>
      <h1>      <%= User.current.fullname %> </h1>
    </div>
<div id="container">
  <%= render :partial => "notegroups/slidewithnote", :collection => @notegroup.presentation.slides, :locals => {:notegroup => @notegroup} %>
</div>
