<div id="notice"><%= notice %></div>
<%#<input type="button" value="Next Slide" onClick="nextslide();">%>
<%#<input type="button" value="Previous Slide" onClick="previousslide();">%>
<div id="container">
  <%= render :partial => "notegroups/slidewithnote", :collection => @notegroup.presentation.slides, :locals => {:notegroup => @notegroup} %>
</div>
