  <div id="<%=slidewithnote.id%>" style="float:left; width:100%; height:600px">
    <div class="colslide "style="float:left;">
      <%= image_tag slidewithnote.image.url, :width => "100%"%>
    </div>
   <div class="colnote" style="float:left; width:450px; height:100%">
      <div id="<%=slidewithnote.id%>" style="float:right; width:100%; height:100%"></div>
   </div>
  </div>

