<div id="<%=slidewithnote.id%>" class="box" >
  <div class="colslide "style="float:left;">
    <%= image_tag slidewithnote.image.url, :width => "100%"%>
  </div>
  <div class="colnote">
    <div id="<%=slidewithnote.id%>" style="float:right; width:100%; height:100%"></div>
  </div>
</div>
