<div class="narrowcontentleft">
  <h3>New presentation</h3>
  </br>
  <div class="subsection">
  <%= render 'form' %>
  <%= link_to 'Back', presentations_path %>
  </div>
</div>

<div class="narrowcontentright roundedcornersbox">
  Only PDFs may be uploaded. </br></br>
  You'll have to manually export .ppt to .pdf for now. But someday soon we'll be able to do that for you ;D
</div>
