<div id="notice"><%= notice %></div>
<div id="container">
      <%= render :partial => "presentations/slidewithnote", :collection => @presentation.slides %>
</div>
      <%#<%= render :partial => "presentations/slidewithnotejs", :collection => @presentation.slides %>%>
