<div id="notice"><%= notice %></div>

      <%= render :partial => "presentations/slidewithnote", :collection => @presentation.slides %>
      <%#<%= render :partial => "presentations/slidewithnotejs", :collection => @presentation.slides %>%>
