<div class="logoleft">
  <h2 class="titlefont">Slidee</h2>
  <h3 class="titlesubheader">is a collaborative, slide-based</br>note-taking tool.</h3>
  </br>
  <%= button_to "Login with NetID", presentations_path, :method => "get", :class => "roundedcornersbuttonbig orangebutton"%>
</div>

<div class="logoright">
  <%= image_tag("SlideeSplash.jpg", :style => "max-width: 450px;" )%>
</div>

<%=render :partial => 'layouts/include/footer' %>
