
<div>
<% current_user.notegroups.each do |notegroup| %>
  <%= link_to notegroup.presentation.deckoriginal_file_name, notegroup %></br>
<% end %>
</div>


</br></br>

<div>
<%= link_to 'New Presentation', new_presentation_path %>
</div>

</br></br>
<div>
  Or ask a friend to add you to their presentation
</div>
