<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% current_user.notegroups.each do |notegroup| %>
  <tr>
    <td><%= link_to notegroup.presentation.deckoriginal_file_name, notegroup %></td>
  </tr>
<% end %>
</table>



<%= link_to 'New Presentation', new_presentation_path %>
