<div class="narrowcontent">

  <h2>My Slides</h2>
  <div>
<% current_user.notegroups.each do |notegroup| %>
  <div class="item">
    <li>
    <%= link_to notegroup.presentation.deckoriginal_file_name, notegroup %></br>
    </li>
  </div>
<% end %>
</div>


</br></br>

<div class="item">
  <%= button_to "+ Add Slide", new_presentation_path, :method => "get", :class => "roundedcorners greenbutton"%>
  <%= button_to "x Delete", new_presentation_path, :method => "get", :class => "roundedcorners redbutton"%>
</div>

</br></br>
<div>
  Or ask a friend to add you to their presentation
</div>

</div>
