<div class="narrowcontentleft">
  <h2 class="titlefont">Slidee</h2>
  <h3 class="titlesubheader">is a collaborative slide-based note-taking tool.</h3>
  </br>
  <%= button_to "My Slides", presentations_path, :method => "get", :class => "roundedcornersbuttonbig orangebutton"%>
</div>

<div class="narrowcontentright roundedcornersbox">
    Upload a presentation PDF and invite some friends to take notes with you - in real time!</br></br>
  Or ask a friend to add you to their presentation.</br></br>
  The best size for a notetaking group is usually 2-3 people, depending on the class.</br>
</div>

  <div class="page_footer">
    <p style="font-size:10px;">Slidee is a project by Casey Watts! Please send feedback and bugs to: casey.watts@yale.edu</p>
  </div>

