<div id="login" style="float:right">
  <p class="login_status">
    <strong><%= current_user.login %> </strong>
    <%# if @user_session && @user_session.user %>
    <%#= link_to "[Logout]", logout_path %>
    <%# else %>
    <%#= link_to "[Logout]",  logout_user %>
    <%# end %>
  </p>
</div>

