<div id="login" class="login">
  <p class="login_status">
     <%if current_user %>
       <strong><%= current_user.fullname %></strong> &nbsp
       <span style="font-size: 10px; font-style: italic;"><%= link_to "Logout", logout_path %></span>
    <% else %>
      <strong><%= link_to "Login", presentations_path %></strong>
    <% end %>
  </p>
</div>

