/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


* {
margin: 0;
}


table{
border-spacing: 0px;
}

html, body {
  /*background-color: #eff;*/
  color: #000;
  font-family: Droid Sans, verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  /*line-height: 18px;*/
  min-height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height: 100%;
  width:100%;
  background: #FFF;
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eff;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  text-decoration: none;
  &:hover {
    color: #999;
    /*text-shadow: 0 0px 1px black;*/
  }
 }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

/*title{*/
/*text-shadow: 0 -1px 1px black;*/
/*margin: 0px 10px 5px 0px ;*/
/*}*/

/*.sitename{*/
  /*text-shadow: 0 -1px 1px black;*/
  /*font-size: 20px;*/
/*}*/

/*h2{*/
  /*[>text-shadow: 0 -1px 1px black;<]*/
/*}*/

.item{
    padding: 3px 1px
}

.item:hover{
    background-color: #efe;
}

#page_header{
/*width:100%*/
}

.widecontent{
/*background: #D2EBFA;*/
margin: 50px 50px 50px 50px;
padding: 30px 30px;
width: 60%;
float: left;
text-align: left;
}

.narrowcontentright{
background: #D2EBFA;
margin: 50px 50px 50px 0px;
padding: 30px;
width: 275px;
float: left;
text-align: center;
}

.narrowcontentleft{
width: 325px;
margin: 50px 50px 50px 100px;
float: left;
}

.roundedcornersbox {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #9AC;
}

.roundedcornersbutton {
  /*background: #222222 url(/images/forms/alert-overlay.png) repeat-x;*/
  /* this is a backup and should be overwritten by gradient */
  display: inline-block;
  padding: 5px 10px 6px;
  color: white;
  text-decoration: none;
  border: 0;
  margin: 3px;
  font-weight: bold;
  line-height: 1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
  /*-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
  /*-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
  text-shadow: 0 -1px 1px #222222;
  border-bottom: 1px solid #222;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  position: relative;
  cursor: pointer;
  text-align: center;
  /*behavior: url(/PIE.htc);*/
  font-size: 15px;
}

.roundedcornersbuttonbig {
  /*background: #222222 url(/images/forms/alert-overlay.png) repeat-x;*/
  /* this is a backup and should be overwritten by gradient */
  display: inline-block;
  padding: 15px 45px 13px;
  color: white;
  text-decoration: none;
  border: 0;
  margin: 3px;
  font-weight: bold;
  line-height: 1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
  /*-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
  /*-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
  text-shadow: 0 -1px 1px #222222;
  border-bottom: 1px solid #222;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  position: relative;
  cursor: pointer;
  text-align: center;
  /*behavior: url(/PIE.htc);*/
  font-size: 15px;
}

.redbutton{
  background:red;
}

.redbutton:hover {
  background-color: #DD0000;
}

.greenbutton{
  background:#009900;
}

.greenbutton:hover {
  background-color: #008800;
}

.orangebutton{
  background-color:#F77B0F;
}

.orangebutton:hover {
  background-color: #E76B0F;
}

.addfriends{
  /*float:right;*/
  height: 15px;
  /*line-height: 0px;*/
  font-size: 12px;
  text-align: left;
  padding: 3px 5px 1px 5px;
  margin: 0px;
  top:0px;
}

.addfriends a{
  color:#F77B0F;
  &:hover {
    color: #974B0F;}
}

h3 {
  margin: 0px 0px 0px 0px;
}

.headerbar{
background:#F77B0F;
display:block;
/*width:100%;*/
height:30px;
font-size:20px;
/*text-shadow: 0 -1px 1px black;*/
/*padding: 10px 0px 0px 20px;*/
/*font-color:white;*/
color:white;
font-family: 'Fugaz One', serif;
/*letter-spacing: 5px;*/
  /*background-color: #536E8D;*/
  /*border-bottom: 1px solid #FFFFFF;*/
  /*float: left;*/
  /*width: 100%;*/
  /*height: 35px;*/
  padding: 5px 8px;
}

.headerbar a{
  color: #FFF;
}



.leftheader{
  /*background-color: #536E8D;*/
  /*border-bottom: 1px solid #FFFFFF;*/
  /*float: left;*/
  /*width: 10%;*/
  /*height: 35px;*/
  /*padding: 5px 8px;*/
  display: inline;
}

.login {
  display: inline;
  float: right;
  /*width: 84.2%;*/
  /*margin: 7px 5px;*/
  /*text-align: right;*/
  /*color: whitesmoke;*/
  padding: 5px 0px;
}

.actions input {
    /*background: #222222 url(/images/forms/alert-overlay.png) repeat-x;*/
  /* this is a backup and should be overwritten by gradient */
  display: inline-block;
  padding: 5px 10px 6px;
  color: white;
  text-decoration: none;
  border: 0;
  margin: 3px;
  font-weight: bold;
  line-height: 1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
  /*-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
  /*-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
  text-shadow: 0 -1px 1px #222222;
  border-bottom: 1px solid #222;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  position: relative;
  cursor: pointer;
  text-align: center;
  /*behavior: url(/PIE.htc);*/
  font-size: 15px;
  background:#F77B0F;
  color:white;
}

.friendlist {
  font-size: 10px;
  padding: 0px 30px;
}

.subsection {
  margin: 5px 0px 30px 0px;
  padding: 0px 30px;
}


//footerstuff

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

.footer, .push {
height: 4em;
padding: 5px 30px 5px 30px;
  display:block;
  height:30px;
  /*width:100%;*/
  background: #EEE;
  clear:both;
  /*float: left;*/
  /*margin won't work because there are floats above*/
  /*margin: 100px 0px 0px 0px;*/
  text-align: center
}

.titlefont {
  font-size:50px;
  font-family: Fugaz One;
  color: #F77B0F;
  /*text-shadow: 0 -1px 1px grey;*/

}

.hiddenedit {
visibility:hidden;
float:right;
}

