<!DOCTYPE html>
<html>
<head>
  <title>LFS</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="background:#DEFFDE; display:block; padding: 10px 30px 10px 30px; font-size:large; font-color:black; width:100%">
  Collaborative Powerpoint Note-Taking
</div>
<%= yield %>

</body>
</html>
